// http://www.entypo.com/

@include font-face('fonts/wellicon', v1, icon);

$icons: (
  'chevron-bottom': '\e900',
  'chevron-left': '\e901',
  'chevron-right': '\e902',
  'chevron-top': '\e903',
  'arrow-bottom': '\e904',
  'arrow-left': '\e905',
  'arrow-right': '\e906',
  'arrow-top': '\e907',
  'caret': '\e908',
  'close': '\e909',
  'download': '\e90a',
  'list': '\e90b',
  'menu': '\e90c',
  'minus': '\e90d',
  'plus': '\e90e',
  'search': '\e90f',
  'zoom-in': '\e910',
  'zoom-out': '\e911',
  'danger': '\e912',
  'block': '\e913',
  'gear': '\e914',
  'location': '\e915',
  'map': '\e916',
  'target': '\e917',
  'cloud': '\e918',
  'cloud-upload': '\e919',
  'heart-full': '\e91a',
  'heart': '\e91b',
  'like': '\e91c',
  'like-not': '\e91d',
  'star-full': '\e91e',
  'star-half': '\e91f',
  'star': '\e920',
  'user': '\e921',
  'users': '\e922',
  'info': '\e923',
  'info-circle': '\e924',
  'help': '\e925',
  'help-circle': '\e926',
  'attention': '\e927',
  'attention-circle': '\e928'
);
